.A {
  color: #2ca02c;
  font-weight: bold;
  font-family: monospace;
}

.C {
  color: #1f77b4;
  font-weight: bold;
  font-family: monospace;
}

.G {
  color: #DAA520;
  font-weight: bold;
  font-family: monospace;
}

.T {
  color: #d62728;
  font-weight: bold;
  font-family: monospace;
}